:root {
  --background-color: #ffffff;
  --green-color: #1ed760;
  --heavy-green-color: #1db954;
  --black-color: #191414;
  --font-size: 1.3rem;
  --sans: Figtree, sans-serif;
}

#root {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  background-color: var(--background-color);
  color: var(--haver-green-color);
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

body {
  background-color: var(--black-color);
  color: var(--heavy-green-color);
  font-family: var(--sans);
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header > a {
  color: var(--heavey-green-color);
  font-size: 3rem;
  font-weight: 800;
}

header > a:hover {
  color: var(--green-color);
}

.wrapper > a:hover {
  background-color: #3E3E40;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

.search-bar {
  padding: 2rem 0 0 0;
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 20px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  background: 0;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  font-size: 18px;
}

.results {
  padding: 1rem;
  max-width: 1200px;
  margin: 0rem auto;
  text-align: center;
}

.results h1 {
  padding: 0;
  margin: 0 auto;
}

td {
  padding: 0 3rem;
  padding-bottom: 0.5rem;
}

th {
  padding-bottom: 0.5rem;
}

img {
  width: 100%;
}

.tracklist {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 0.5rem;
  flex-flow: row;
}

.tracklist a {
  padding: 0;
  flex-basis: 20%;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1%;
  }
}

@media (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1%;
  }
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

figcaption {
  color: white;
  padding: 1rem;
  height: 100%;
}

figcaption * {
  margin: 0.5rem;
}

.bouncing-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: var(--heavy-green-color);
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

button {
  background-color: var(--heavy-green-color);
  color: var(--background-color);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  font-size: var(--font-size);
}

button:hover {
  background-color: var(--green-color);
}

footer {
  margin-top: auto;
  padding:10px;
  background-color: var(--heavy-green-color);
  text-align: center;
  color: var(--background-color);
}

footer p small {
  margin: 0 auto;
  max-width: 400px;
}